* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo-t {
    color: #a20ba3; /* Primeira cor personalizada */
}

.logo-rest {
    color: #dea91c; /* Segunda cor personalizada */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.menu-icon a {
    font-size: 24px;
    color: #000000;
}

.menu-icon a:hover,
.nav-links a:hover {
    color: #a20ba3;
}

.nav-links li a::before {
    margin-right: 5px;
}

.filter-section {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.header p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.filter-item i {
    font-size: 24px;
    margin-right: 10px;
}

.filter-label {
    font-size: 12px;
    color: #666666;
}

.filter-value {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.filter-button button {
    background-color: #0066cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.filter-button button:hover {
    background-color: #004b99;
}